html {
     font: 0.75em/1.5 sans-serif;
     color: #fff;
     background-color: #000;
 }

 body {
     margin: 0 auto;
     max-width: 720px;
     padding: 18px;
     font-size: 16px;
 }

img {
  max-width: 100%; /* [1] */
  font-style: italic; /* [2] */
  vertical-align: middle; /* [3] */
}

a {
 text-decoration: none;
 color: #00abff;
}

/* Shows offsite links */
.company-list a:not([href^="https://do-the-right-thing.gitlab.io"])::after,
.company-list a:not([href^="file:///"])::after {
  content: '✓';
  display: inline-block;
  margin-left: .5em;
  font-size: 75%;
}
/* C */
.page-title-logo {
  text-align: center;
}
.page-title-logo__content {}

.lead-in {
  font-family: 'Special Elite', sans-serif;
  text-transform: uppercase;
  text-align: justify;
}
.lead-in-paragraph {
  font-family: 'Special Elite', sans-serif;
  text-align: justify;
}

.company-list {}

.company-list__category {
  font-family: 'Special Elite', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  margin-left: 0;
  text-decoration: underline;
  margin-top: 2em;
}

.company-list__company-name {
  font-family: 'Special Elite', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
}
.company-list__company-description {
  margin-left: 0;
}
.company-list__company-description ~ .company-list__company-name {
  padding-top: 1em;
}

/* U */
.hidden-visually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
